.cadre {
    background-color: blue;
    text-align: center;
    width: 80%;
    //height: 50%;
    height: 90%;
    margin: 0 auto;
    margin-top: 1.8%;
    display: flex;
}

.elements {
  margin: auto;
}

h3 {
    color: red;
    font-weight: bold;
    font-size: 19px;
}

h4 {
    color: white;
}

#startgame {
    background-color: yellow;
    color: red;
    font-size: 18px;
    padding: 8px 18px;
    border-radius: 40px;
}

#startgame:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: red;
    color: yellow;
}

#startgame span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

#startgame span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
#startgame:hover span {
    padding-right: 25px;
  }
  
#startgame:hover span:after {
    opacity: 1;
    right: 0;
  }

#startgame:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
