<!--<td (click)="poserPion()" [ngClass]="{'whitePawn': color === 'white',
'redPawn':color==='red','yellowPawn':color==='yellow'}" ></td>-->

<td class="case" (click)="poserPion()" [ngClass]="{'whitePawn': pawn === 0,
'redPawn':pawn === 1, 'yellowPawn': pawn === 2}"></td>

<!--
<td *ngIf="turnP === true" (click)="poserPionRouge()" [ngClass]="{'w': color === 'white',
'r':color==='red','y':color==='yellow'}" ></td>
<td *ngIf="turnP === false" (click)="poserPionJaune()" [ngClass]="{'w': color === 'white',
'r':color==='red','y':color==='yellow'}" ></td>
-->

<!--<td (click)="poserPions()" [ngClass]="{'pionBlanc': color === 'white','pionRouge':color==='red','pionJaune':color==='yellow'}" ></td>-->
<!--<td (click)="poserPions()" [ngClass]="{'pionBlanc': color === 'white','pionRouge':color==='red','pionJaune':color==='yellow'}"></td>-->