td {
    width: 2cm; //50px
    height: 2cm; //50px 
    margin: 0px; //5px pour espacer les ronds 
    padding: 0px;
    border: 2px blue inset;
    border-radius: 2cm; //50% = cercle 
    //display : inline-block  
    cursor: pointer;
}


.whitePawn{
    background-color: white; //
}
.redPawn{
    background-color: red; //
}
.yellowPawn{
    background-color: yellow; //
}