<mat-sidenav-container>

  <!-- dark/light mode choice -->
    <mat-sidenav #sideNav mode="push" position="end">
      <mat-toolbar color="warn">
        <h1>Settings</h1>
        <div style="flex: 1 1 auto;"></div>
        <button mat-icon-button (click)="sideNav.toggle()">
                  <mat-icon>close</mat-icon>
              </button>
      </mat-toolbar>
      <app-setting-change-color-scheme></app-setting-change-color-scheme>
    </mat-sidenav>

    <mat-sidenav-content>
  
      <mat-toolbar role="heading" class="toolbar"> <!-- possible attribute for color : primary, accent, warn-->
        <span class="title">{{ title }}</span>
      <!-- ajout pour dark/light mode -->
      <div style="flex: 1 1 auto;"></div>
			<button mat-icon-button (click)="sideNav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
      </mat-toolbar>

      <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>