.toolbar {
    background-color: blue;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    line-height: 20px;
    justify-content: center;
    display: flex;
}

.title {
    color: yellow;
    font-family: fantasy;
    font-size: 40px;
    margin: 0 auto;
}

/* dark/light mode */
.mat-sidenav-container {
    height: 100%;
}

.mat-sidenav {
    width: 320px;
}

.card-wrapper {
    width: calc(100% - 48px);
    max-width: 460px;
    margin: 24px auto;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    text-decoration: none;
  }