.background {
    background-color: lightcyan;
    //display: flex;
    //height: 120%;
    //line-height: 120%;
    text-align: center;
    margin: 0 auto; 
}

.restart {
    margin: 0 auto;
}

.restartButton {
    background-color: greenyellow;
    color: black;
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 40px;
}

.changeP {
    background-color: cyan;
    color: black;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 40px;
    margin-right: 10px;
}

.play-r {
    background-color: red;
    margin: 0 auto;
    cursor: pointer;
    font-size: 22px;
    padding: 6px 14px;
    border-radius: 40px;
    margin-right: 8px;
}

.play-j {
    background-color: yellow;
    margin: 0 auto;
    cursor: pointer;
    font-size: 22px;
    padding: 6px 14px;
    border-radius: 40px;
    margin-right: 8px;
}

.play-g {
    background-color: grey;
    margin: 0 auto;
    cursor: pointer;
    font-size: 22px;
    padding: 6px 14px;
    border-radius: 40px;
    margin-right: 8px;
}

.infos {
    background-color: black;
    color: white;
    font-family: fantasy;
}

#equipeR {
    background-color: black;
    color: red;
}

#equipeJ {
    background-color: black;
    color: yellow;
}

.grille__div {
    //border: solid black; 
    margin: 0 auto; 
}

.grille__div table {
    margin: 0 auto; 

    border: 3px blue outset;
    background-color: blue;
    text-align: center;   
}

.case {
    width: 2cm; //50px
    height: 2cm; //50px 
    margin: 0px; //5px pour espacer les ronds 
    padding: 0px;
    border: 2px blue inset;
    border-radius: 2cm; //50% = cercle 
    //background-color: white; //
    
}

.whitePawn{
    background-color: white; 
}
.redPawn{
    background-color: red; 
}
.yellowPawn{
    background-color: yellow; 
}