<div class="background">

        <h4 class="infos">Players are : {{ infos.players.pseudo1 }} ({{infos.players.color1}}) &  {{ infos.players.pseudo2 }} ({{infos.players.color2}})</h4>
        
        <div *ngIf="infos.fin === false">
            <h2 id="equipeR" *ngIf="turn">REDS' TURN </h2>
            <h2 id="equipeJ" *ngIf="!turn">YELLOWS' TURN</h2>
        </div>

        <div class="grille__div">
            <table>
                <tr *ngFor="let ligne of grille3, let m = index">
                    <td class="case" *ngFor="let case of ligne, let n = index"  [ngClass]="{'whitePawn': case === 0,
                    'redPawn':case === 1, 'yellowPawn': case === 2}"></td>
                </tr>
            </table>
        </div>
                

    <br> 
        <!---------------------- BOUTONS ------------------------>
        <div *ngIf="this.infos.fin === false">
            <span>
                <button *ngIf="!isButtonVisible1" class="play-g">Play</button>
                <button class="play-r" *ngIf="turn && isButtonVisible1" (click)="colonne(1,0)">Play</button>
                <button class="play-j" *ngIf="!turn && isButtonVisible1" (click)="colonne(2,0)">Play</button>
            </span>
    
            <span> 
                <button *ngIf="!isButtonVisible2" class="play-g">Play</button>
                <button class="play-r" *ngIf="turn && isButtonVisible2" (click)="colonne(1,1)">Play</button>
                <button class="play-j" *ngIf="!turn && isButtonVisible2" (click)="colonne(2,1)">Play</button>
            </span>
    
            <span>
                <button *ngIf="!isButtonVisible3" class="play-g">Play</button>
                <button class="play-r" *ngIf="turn && isButtonVisible3" (click)="colonne(1,2)">Play</button>
                <button class="play-j" *ngIf="!turn && isButtonVisible3" (click)="colonne(2,2)">Play</button>
            </span>
    
            <span>
                <button *ngIf="!isButtonVisible4" class="play-g">Play</button>
                <button class="play-r" *ngIf="turn && isButtonVisible4" (click)="colonne(1,3)">Play</button>
                <button class="play-j" *ngIf="!turn && isButtonVisible4" (click)="colonne(2,3)">Play</button>
            </span>
    
            <span>
                <button *ngIf="!isButtonVisible5" class="play-g">Play</button>
                <button class="play-r" *ngIf="turn && isButtonVisible5" (click)="colonne(1,4)">Play</button>
                <button class="play-j" *ngIf="!turn && isButtonVisible5" (click)="colonne(2,4)">Play</button>
            </span>
    
            <span>
                <button *ngIf="!isButtonVisible6" class="play-g">Play</button>
                <button class="play-r" *ngIf="turn && isButtonVisible6" (click)="colonne(1,5)">Play</button>
                <button class="play-j" *ngIf="!turn && isButtonVisible6" (click)="colonne(2,5)">Play</button>
            </span>
    
            <span>
                <button *ngIf="!isButtonVisible7" class="play-g">Play</button>
                <button class="play-r" *ngIf="turn && isButtonVisible7" (click)="colonne(1,6)">Play</button>
                <button class="play-j" *ngIf="!turn && isButtonVisible7" (click)="colonne(2,6)">Play</button>
            </span>
        </div>
        <!------------------------------------------------------->
        <div *ngIf="infos.fin === true" class="infos">
            <h2>WINNER IS : {{ infos.gagnant }}</h2>
        </div>

    <br>

        <span class="changePlayers">
            <button *ngIf="this.infos.fin === true" class="changeP" (click)="restart()" mat-raised-button>Play again !</button>
        </span>

</div>
